:root {
  --background: #fff;
  --secondary-background: #f0f1fe;
  --primary: #8498cb;
  --danger: #d62418;
  --success: #19d1c8;
  --text: #1e2129;
  --pill: 2rem;
  --border-radius: 1.2rem;
  --gray: #b4b5b8;
}

/* Themes */
.dark {
  --background: #050811;
  --danger: #a84e48;
  --success: #46a49f;
  --gray: #b4b5b8;

  --text: #fff;
  --primary: #adbbdc;
  --secondary-background: #1e2129;
  transition: 0.4s all;
}

/* 
Animations
*/

@keyframes slideInRight {
  from {
    margin-left: 0;
  }

  to {
    margin-left: 50%;
  }
}

@keyframes slideInLeft {
  from {
    margin-left: 50%;
  }

  to {
    margin-left: 0;
  }
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Section */
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100vh;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  background-color: var(--background);
}

.theme-group {
  width: 20%;
  padding: 0.5rem;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  border-radius: 2rem;
  position: relative;
}

.theme-controls {
  flex: 1;
  text-align: center;
  padding: 0.5rem;
  z-index: 3;
  font-size: 1.2rem;
  color: var(--text);
}

.active-background {
  width: 50%;
  position: absolute;
  background: var(--secondary-background);
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  border-radius: var(--pill);
}

.calc-body {
  background-color: var(--secondary-background);
  border-radius: var(--border-radius);
  width: 20rem;
  margin: auto;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
}

.result {
  min-height: 5rem;
  background-color: var(--background);
  text-align: right;
  padding: 2rem;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  color: var(--text);
}

.history {
  color: var(--gray);
}

.main-result {
  font-size: 2rem;
}

.calc-controls {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
}

.main-control {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  vertical-align: middle;
  align-items: center;
}

.calc-controls-button {
  text-align: center;
  padding: 0.5rem 0;
  border-radius: 0.4rem;
  color: var(--text);
  padding: 0.8rem;
}

.calc-controls-button:hover {
  cursor: pointer;
  background-color: var(--primary);
  color: var(--background);
}

/* Components */
.equal {
  grid-column: span 4;
}

.deletor {
  color: var(--danger);
}

.operator {
  color: var(--success);
}
